.sidepanel {
    position: fixed;
    top: 230px;
    left: 50px;
    display: flex;
    height: 340px;
    flex-direction: column;
    justify-content: space-between;
    z-index: 3;
    align-items: center;
    &__divider {
        width: 2px;
        height: 70px;
        background-color: #fff;
    }
    &__text {
        color: #fff;
        height: 150px;
        width: 25px;
    }
    &__rotate {
        display: block;
        transform: rotate(-90deg) translate(-30%, -270%);
        width: 150px;
    }
    &__link {
        svg path {
            &:hover{
                fill: $main-color;
            }
        }
    }
}   